In [1]:
#Q-8 Write a Python program to remove duplicates from a list
list1 = [12,43,34,67,89,12]
set1 = set(list1)
set1

list1 = list(set1)
list1

[34, 67, 43, 12, 89]

In [3]:
#Q-9 Write a Python program to check a list is empty or not.
list1 = ['krishil','jenil','jeel']

def a(list1):
    if len(list1) == 0:
        print('empty str')
    else:
        print('not empty str')
        
list(filter(a,list1))

not empty str
not empty str
not empty str

[]

In [16]:
#Q-10 Write a Python function that takes two lists and returns true if they have at least one common member.
list1 = [12,45,0,67,89]
list2 = [54,0,2376]
result = False
for i in list1:
    for j in list2:
        if i == j:
            result = True
print(result)

True

In [5]:
#Q-11 Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.

list1 = []
for i in range(1,31):
    list1.append(i)
print(list1)

l1 = list1[0:5:]
l2 = list1[-5::]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 2, 3, 4, 5, 26, 27, 28, 29, 30]

In [6]:
#Q-12 Write a Python function that takes a list and returns a new list with unique 
elements of the first list.
def unique(a):
    x =[]
    for i in a:
        if i not in x:
            x.append(i)
    return x
print(unique([1,2,3,4,4,5,5,6]))

[1, 2, 3, 4, 5, 6]

In [7]:
#Q-21 Write a Python program to create a tuple with numbers.
a = 1,2,34,5
print(a)

(1, 2, 34, 5)

In [8]:
#Q-22 Write a Python program to convert a tuple to a string.
def a(tup):
    str = ''
    for item in tup:
        str = str + item
    return str

tuple = ('k','r','i','s','h','i','l')
str1 = a(tuple)
print(str1)

krishil

In [13]:
#Q-24 Write a Python program to find the length of a tuple.
tuple = ("krishil",'krish')
print(tuple)

print(len(tuple))

('krishil', 'krish')
2